<div>
    <form class="modal-content animate" action="/action_page.php">
      <h2 class="w3-center" style="text-shadow:1px 1px 0 #444">Kiếm tiền easy</h2>
      <div class="imgcontainer">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <button type="button" class="w3-red" (click)="loginGmail()">Đăng nhập bằng Gmail</button>
        <button type="button" class="w3-blue" (click)="loginFb()">Đăng nhập bằng Facebook</button>
      </div>
    </form>
  </div>