<div class="w3-theme-l5">
    <app-navigation></app-navigation>
       <!-- Navbar on small screens -->
       <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
         <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
         <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
         <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
         <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
       </div>
       
       <!-- Page Container -->
       <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
         <!-- The Grid -->
         <div class="w3-row">
           <!-- Left Column -->
           <div class="w3-col m3">
             <!-- Profile -->
             <div class="w3-card w3-round w3-white">
               <div class="w3-container">
                <h4 class="w3-center">{{user.name}}</h4>
                <p class="w3-center"><img [src]="user.avatar" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                <hr>
                <p><i class="fa fa-money w3-margin-right w3-text-theme"></i> 700.000</p>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
                <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
               </div>
             </div>
             <br>
             
             <!-- Accordion -->
             <app-withdraw-panel></app-withdraw-panel>
            
             <br>
             
             <!-- Interests --> 
             <div class="w3-card w3-round w3-white w3-hide-small">
               <div class="w3-container">
                 <p>Interests</p>
                 <p>
                   <span class="w3-tag w3-small w3-theme-d5">News</span>
                   <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                   <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                   <span class="w3-tag w3-small w3-theme-d2">Games</span>
                   <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                   <span class="w3-tag w3-small w3-theme">Games</span>
                   <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                   <span class="w3-tag w3-small w3-theme-l2">Food</span>
                   <span class="w3-tag w3-small w3-theme-l3">Design</span>
                   <span class="w3-tag w3-small w3-theme-l4">Art</span>
                   <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                 </p>
               </div>
             </div>
             <br>
             
             <!-- Alert Box -->
             <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
               <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
                 <i class="fa fa-remove"></i>
               </span>
               <p><strong>Hey!</strong></p>
               <p>People are looking at your profile. Find out who.</p>
             </div>
           
           <!-- End Left Column -->
           </div>
           
           <!-- Middle Column -->
           <div class="w3-col m7">
           
             <app-lucky-number></app-lucky-number>
             <app-common-notification></app-common-notification>
             
             
           <!-- End Middle Column -->
           </div>
           
           <!-- Right Column -->
           <div class="w3-col m2">
             <div class="w3-card w3-round w3-white w3-center">
               <div class="w3-container">
                 <p>Lucky Number:</p>
                 <span class="w3-badge w3-xxxlarge w3-padding w3-red">{{luckyNumber}}</span>
                 <p><button class="w3-button w3-block w3-theme-l4" *ngIf="hideStop" (click)="startRandom()">Bắt đầu tìm</button></p>
                 <p><button class="w3-button w3-block w3-theme-l4" *ngIf="!hideStop" (click)="stopRandom()">Dừng tìm</button></p>
               </div>
             </div>
             <br>
             
             <div class="w3-card w3-round w3-white w3-center">
               <div class="w3-container">
                 <p>Người chơi mới</p>
                 <div *ngFor="let u of newUsers|async">
                    <img [src]="u.avatar" alt="Avatar" style="width:50%;max-height: 97px;"><br>
                    <span>{{u.name}}</span>
                    <div class="w3-row"><!--w3-opacity-->
                    <div class="w3-half">
                        <button class="w3-button w3-block w3-green w3-section" title="Accept">Số tiền</button>
                    </div>
                    <div class="w3-half">
                        <button class="w3-button w3-block w3-red w3-section" title="Decline">{{u.money}}</button>
                    </div>
                    </div>
                 </div>
               </div>
             </div>
             <br>
             
             <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
               <p>ADS</p>
             </div>
             <br>
             
             <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
               <p><i class="fa fa-bug w3-xxlarge"></i></p>
             </div>
           <!-- End Right Column -->
           </div>
         <!-- End Grid -->
         </div>
       <!-- End Page Container -->
       </div>
       <br>
       <footer class="w3-container w3-theme-d5">
         <p>Copyright by <a href="https://opencoder.org" target="_blank">Grurt Nel</a></p>
       </footer>    
</div>
<!-- Navbar -->
