<div class="w3-theme-l5">
    <app-navigation></app-navigation>
      
       
       <!-- Page Container -->
       <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
         <!-- The Grid -->
         <div class="w3-row">
           <!-- Left Column -->
           <div class="w3-col m3">
             <!-- Profile -->
             <div class="w3-card w3-round w3-white">
               <div class="w3-container">
                <h4 class="w3-center">{{profile.name}}</h4>
                <p class="w3-center"><img [src]="profile.avatar" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                <hr>
                <p class="w3-center"><i class="fa fa-money w3-margin-right w3-text-theme"></i> {{profile.money}} VNĐ </p>
                <!-- <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p> -->
                <!-- <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p> -->
               </div>
             </div>
             <br>
             
             <!-- Accordion -->
             <app-withdraw-panel></app-withdraw-panel>
            
             <br>
             
             
             <!-- Alert Box -->
             <app-private-notification></app-private-notification>
           
           <!-- End Left Column -->
           </div>
           
           <!-- Middle Column -->
           <div class="w3-col m7">
            <router-outlet></router-outlet>
             
           <!-- End Middle Column -->
           </div>
           <div class="w3-col m2">
            <app-result-widget></app-result-widget>
              <br>
              <app-top-user></app-top-user>
           <br>
           <app-new-user></app-new-user>           
         <!-- End Right Column -->
         </div>
          
         <!-- End Grid -->
         </div>
       <!-- End Page Container -->
       </div>
       <br>
       <footer class="w3-container w3-theme-d5">
         <p>Copyright by <a href="https://money.opencoder.org" target="_blank">Grurt Nel</a></p>
       </footer>    
</div>
<!-- Navbar -->
