<div class="w3-card w3-round">
    <div class="w3-white">
      <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-credit-card-alt fa-fw w3-margin-right"></i> Rút tiền</button>
      <div id="Demo1" class="w3-hide w3-container">
         <div class="w3-row-padding">
             <br>
             <div class="w3-half w3-center">
                 <img src="/assets/images/momo.png" style="width:50%;opacity: 0.5;" class="w3-margin-bottom">
             </div>
             <div class="w3-half">
                 <img src="/assets/images/paypal.png" style="width:50%;opacity: 0.5;" class="w3-margin-bottom">
             </div>
             <div class="w3-center">
                 <button class="w3-btn w3-black w3-disabled w3-margin">Chọn phương thức</button>
                 <div class="w3-panel w3-red">
                 <h6>Chú ý!</h6>
                 <p>Bạn chỉ cần thanh toán khi đủ ngưỡng thanh toán.</p>
                 </div>                        
             </div>
         </div>
      </div>
      <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-money fa-fw w3-margin-right"></i> Kiếm tiền</button>
      <div id="Demo2" class="w3-hide w3-container">
          <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
            <h4>Chú ý</h4>
            <p>Mỗi lần click vào nút kiếm tiền bạn sẽ được dẫn đến một link rút gọn.
              Mỗi lượt bạn hoàn thành chúng tôi sẽ +1k vào tài khoản của bạn
            </p>
            </div>
            <div class="w3-center w3-margin">
                <button class="w3-btn w3-white w3-border w3-border-red w3-text-red w3-round-large">Kiếm tiền</button>
            </div>
      </div>
      <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Liên hệ</button>
      <div id="Demo3" class="w3-hide w3-container">
     <div class="w3-row-padding">
     <br>
        <p><i class="fa fa-user-secret fa-fw  w3-margin-right w3-text-theme"></i> admin1@opencoder.com</p>
        <p><i class="fa fa-user-secret  fa-fw w3-margin-right w3-text-theme"></i> admin1@opencoder.com</p>
        <p><i class="fa fa-user-secret  fa-fw w3-margin-right w3-text-theme"></i> admin1@opencoder.com</p>
     </div>
      </div>
    </div>      
  </div>